.row.page-header
  .col-xs-12
    %h1 Personen
      .float-xs-right
        =link("Gesamtliste", to: search_path(@conn, :personlist), class: "btn btn-outline-primary")
      .float-xs-right
        =link("Neue Person", to: person_path(@conn, :new), class: "btn btn-outline-primary")

=render(Heimchen.SearchView, "index.html", results: @people, headline: "Kürzlich bearbeitet", conn: @conn)
