
/* Phoenix flash messages */
.alert:empty { display: none; }

.alert {
		margin-top: 10px;
		margin-bottom: 10px;
}

.spanlink{
		cursor: pointer;
}

/* Phoenix inline forms in links and buttons */
form.link, form.button {
  display: inline;
}

.page-header {
		margin-top: 12px;
		margin-bottom: 12px;
}

/* images and canvases */

.canvas-container {
		position: relative;
}
		
.canvas-container > img{
		top:0px;
    left:0px;
		z-index:1;
}

.canvas-container > canvas{
		position:absolute;
		top:0px;
    left:0px;
    z-index:20;
}
