.row.page-header
  .col-sm-10
    %h1 Benutzer
  .offset-sm-10
    =link("Neuer Benutzer", to: user_path(@conn, :new), class: "btn btn-primary")
%table.table.table-hover
  %thead
    %tr
      %th Name
      %th Login
      %th Aktiv
      %th Admin
  %tbody
    = for user <- @users do
      %tr
        %td= link(User.name(user), to: user_path(@conn, :show, user.id))
        %td= user.username
        %td
          - if user.active do
            %i.fa.fa-check
          - else
            %i.fa.fa-ban
        %td
          - if user.admin do
            %i.fa.fa-check
          - else
            %i.fa.fa-ban

    - end

