%h2{style: "margin-top: 10px"} Suchergebnisse

- if @results == [] do
  %i keine Ergebnisse
- else
  %table.table.table-striped
    %thead
      %tr
        %th Kategorie
        %th Name
        %th Kommentar
        %th Bild
    %tbody
      - for [what, id, name, comment, image_id] <- @results do
        %tr
          %td=catname(what)
          %td=resultlink(@conn, what, name, id)
          %td=comment
          %td
            - if image_id do
              %img(src="#{image_path(@conn, :image, image_id, 1)}")
              %i.fa.fa-shopping-cart.spanlink{onclick: "image_cp_toggle(#{image_id})", id: "image_cp_#{image_id}"}
