%h2{style: "margin-top: 10px"} Suchergebnisse

- if @results == [] do
  %i keine Ergebnisse
- else
  %table.table.table-striped
    %thead
      %tr
        %th Kategorie
        %th Name
        %th Kommentar
        %th Bild
    %tbody
      - for [what, id, name, comment, image_id] <- @results do
        %tr
          %td=%{"person" => "Person", "keyword" => "Stichwort", "image" => "Datei", "item" => "Sammlung"}[what]
          %td
            - if what == "person" do
              =link(name, to: person_path(@conn, :show, id))
            - if what == "item" do
              =link(name, to: item_path(@conn, :show, id))
            - if what == "image" do
              =link(name, to: image_path(@conn, :show, id))
            - if what == "keyword" do
              =link(name, to: keyword_path(@conn, :show, id))
          %td=comment
          %td
            - if image_id do
              %img(src="#{image_path(@conn, :image, image_id, 1)}")
              %i.fa.fa-shopping-cart.spanlink{onclick: "image_cp_toggle(#{image_id})", id: "image_cp_#{image_id}"}
