\documentclass{scrartcl}
\usepackage[utf8]{inputenc}
\usepackage[ngerman]{babel}
\usepackage{graphicx}
\begin{document}

\begin{center}
\Large
Personen-Exportliste der Heimatkundlichen Datenbank Seuzach

\today

\end{center}


\parskip0pt\parindent0pt
\def\Image#1{\includegraphics[width=0.3\hsize]{#1}\hfill}
\long\def\Person#1#2#3#4#5{\par
\vbox{  #1, #2 \if-#3\else geb. #3\fi
  \textit{#4}\par
  #5\par
  \hrulefill\par}
  \bigskip
}


<%= @plist %>

\end{document}
