- if !Enum.empty?(@keywords) do
  %h4 Stichwörter 
  %ul
  - for c <- Enum.uniq(Enum.map(@keywords, fn(k) -> k.category end)) do
    %li
      %b=c
      %ul
        - for k <- Enum.filter(@keywords, fn(k) -> k.category == c end) do
          %li
            = link(k.name , to: keyword_path(@conn, :show, k.id))
            = keyword_delete_link(@conn, @what, @id, k.id)
