.row.page-header
  .col-xs-6
    %h1 Stichwort anzeigen
  .float-xs-right
    %a.btn.btn-outline-primary(href="#{keyword_path(@conn, :edit, @id)}")
      %i.fa.fa-edit
      Bearbeiten

.row
%h2
  ="#{@keyword.category}: #{@keyword.name}"
%blockquote
  =@keyword.comment
  
=render(Heimchen.SearchView, "index.html", results: @related, headline: "", conn: @conn)  
