.row.page-header
  .col-xs-12
    %h1 Orte
      .float-xs-right
        =link("Neuer Ort", to: place_path(@conn, :new), class: "btn btn-outline-primary")

#result1
  %h3(style="margin-top: 12px") Kürzlich bearbeit
  =render(@view_module, "search.html", places: @places, conn: @conn)
