.row.page-header
  .col-xs-12
    %h1 Sammlung
      .float-xs-right
        =link("Neuer Eintrag", to: item_path(@conn, :new), class: "btn btn-outline-primary")

=render(Heimchen.SearchView, "index.html", results: @items, headline: "Kürzlich bearbeitet", conn: @conn)
